
// 主题色与常用变量
$primary-color: #4e3b23; // 非遗棕
$accent-color: #e6b877;  // 文化金
// $background-color: #f4f1ea; // 柔和背景
$background-color: linear-gradient(135deg, #f4f1ea 60%, #e6b877 100%);
$text-color: #222;
$border-radius: 10px;